{% extends "base.html" %}
{% block content %}

<section class="hero">

    <div class="hero-container">

        <div class="hero-left">
            <h1>
                İlacın için dışarı çıkma.
                <span>Kapına gelsin.</span>
            </h1>

            <p>
                Yerel eczanelerle iş birliği içinde
                reçeteli ve reçetesiz ürünleri
                hızlı ve güvenli şekilde teslim ediyoruz.
            </p>

            <div class="hero-buttons">
                <a href="#" class="btn-main">Sipariş Oluştur</a>
                <a href="#" class="btn-outline">Nasıl Çalışır?</a>
            </div>
        </div>

        <div class="hero-right">
            <div class="mock-card">
                <h3>3 Adımda Teslimat</h3>
                <ul>
                    <li>Reçete kodunu gir</li>
                    <li>Eczane onaylasın</li>
                    <li>Kurye teslim etsin</li>
                </ul>
            </div>
        </div>

    </div>

</section>

<section class="why">
    <h2>Neden Evimde İlaç?</h2>

    <div class="why-grid">
        <div>✓ Hızlı Teslimat</div>
        <div>✓ Güvenli İş Birliği</div>
        <div>✓ Yerel Eczane Desteği</div>
        <div>✓ Modern Sipariş Sistemi</div>
    </div>
</section>

{% endblock %}
